<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  This is an event tracking webpage created for TAMU FOCUS. Mentors can log in with their ID and view the events that they've attended along with the points they've accumulated for the semester.
  <br />
  Developed by Victor Martinez, Josh Hooton, Jacob Stafford, Cody Leuschner, Jason Nguyen, and Nick Maxwell of Texas A&M's CSCE 431 Software Engineering Spring 2017 class.
</p>