<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  This is a event tracking webpage created for TAMU FOCUS by Victor Martinez, Josh Hooton, Jacob Stafford, Cody Leuschner, Jason Nguyen, and Nick Maxwell for Texas A&M's CSCE 431 Software Engineering Spring 2017 class.
</p>