<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  <a href="mailto:pa-garza@tamu.edu">Contact admin</a>
  <br />
  <a href="mailto:hooton.josh@gmail.com,nmaxwell.personal@gmail.com,valexis22009@gmail.com">Contact developers</a>
</p>