<% provide(:title, 'Home') %>
<style>
  .admin p{
    font-size: 12px;
  }
  
</style>
<div class="center jumbotron" style = "padding: 20px;">
  <h1>SHERLOCK</h1>

  <h2>
    Welcome!
  </h2>

  <%= link_to "Admin Login", admin_root_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Mentor Login", login_path, class: "btn btn-lg btn-primary" %>
</div>

