<% provide(:title, 'Home') %>
<style>
  .admin{
    underline: true;
  }
</style>
<div class="center jumbotron">
  <h1>SHERLOCK</h1>

  <h2>
    Welcome!
  </h2>

    <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Login", login_path, class: "btn btn-lg btn-primary" %>
    
</div>
