<style>
table, th, td {
    border: 1px solid black;
}
</style>

<div>
    <h1>
        Hello <%= @userName %>
    </h1>
</div>

<table style="border: 1px solid white;">
    <tr style="border: 1px solid white;">
        <td style="border: 1px solid white;"><table>
            <th>Event</th>
            <th>Points</th>
    </tr>
</table>

