<style>
table, th, td {
    border: 1px solid black;
}
</style>

<table>
    <th>Ranking</th>
    <th>Name</th>

    <% @users.each_with_index do |user, index| %>
        <tr>
            <td><%= index %></td>
            <td><%= user.firstName %> <%= user.lastName %></td>
        </tr>
    <% end %>
</table>