<% provide(:title, @event.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="event_info">
    <h1>
          <%= gravatar_for @event %>
          <%= @event.name %> , <%= @event.description%>
    </h1>
 </section>
  </aside>
</div>

